*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-1: #1d1d1d;
    --dark-2: #272727;
    --dark-3: #303030;
    --dark-4: #424242;
    --dark-5: #4b4b4b;
    --light-1: #bebebe;
    --text-1: #adadad;
}

body {
    background-color: var(--dark-1) !important;
    color: var(--light-1) !important;
}

.bg-dark-4 {
    background-color: var(--dark-4) !important;
}

.title {
    color: var(--text-1);
    font-weight: 700 !important;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--dark-3);
}

.btn-purple {
    background-color: var(--purple) !important;
    color: var(--light) !important;
    transition: .5s ease-in;
}

.btn-add {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 20px;
}

.btn-edit {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 20px;
}

.btn-purple:hover {
    filter: brightness(0.8) !important;
}

.form-control {
    background-color: var(--dark-3) !important;
    color: var(--light-1) !important;
    border-color: var(--dark-4) !important;
}

.form-input-text {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    outline: none;
}

.table thead th {
    border-color: var(--dark-3) !important;
    color: var(--light-1) !important;
}

.table td,
.table th {
    border-color: var(--dark-3) !important;
}

.table td {
    color: var(--light-1) !important;
}

.table.no-footer {
    border-bottom: 1px solid var(--dark-4);
}

.table.cust-datatable thead {
    background-color: #f9f9f9;
}

.table.cust-datatable>thead>tr>th {
    border-bottom-width: 0;
    color: var(--light-1) !important;
    font-weight: 600;
    padding: 16px 15px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
}

.table.cust-datatable>tbody td {
    padding: 10px 15px 10px 18px;
    color: var(--text-1) !important;
    font-size: 13px;
    font-weight: 500;
    word-break: break-word;
    border-color: var(--dark-3) !important;
    text-align: center;
    vertical-align: middle;
}

.table.cust-datatable>tbody tr {
    border-top: none;
}

.table.cust-datatable>tbody>tr:nth-child(even) {
    background-color: var(--dark-3);
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.table .dropdown_icon {
    display: inline-block;
    color: #8a8a8a;
    font-size: 12px;
    border: 1px solid #d4d4d4;
    padding: 10px 11px;
    border-radius: 500%;
    cursor: pointer;
}

.table .dropdown-menu {
    padding: 0;
    border-radius: 4px;
    margin-top: 10px;
    left: -65px;
    top: 32px;
    box-shadow: 0px 0px 25px #d4d4d4;
    border: 0;
}

div.dataTables_wrapper div.dataTables_paginate .page-link {
    color: var(--light) !important;
    background-color: var(--dark-2) !important;
    border-color: var(--dark-3) !important;
    border-radius: 40px;
    margin: 5px 3px;
}

div.dataTables_wrapper div.dataTables_paginate .page-link:hover {
    color: var(--light) !important;
    border: 1px solid var(--purple) !important;
    background-color: var(--indigo) !important;
    box-shadow: none;
}

div.dataTables_wrapper div.dataTables_paginate .paginate_button.active .page-link,
div.dataTables_wrapper div.dataTables_paginate .paginate_button.active .page-link:hover {
    color: var(--light) !important;
    border-color: transparent !important;
    background-color: var(--purple) !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    padding-top: 0 !important;
    margin: 15px 10px;
    float: right !important;
}

.table .actionCust a {
    display: inline-block;
    color: #8a8a8a;
    font-size: 12px;
    border: 1px solid var(--dark-3);
    padding: 10px 11px;
    margin: -9px 3px;
    border-radius: 500%;
    cursor: pointer;
}

.table .actionCust a i {
    color: #8a8a8a;
    margin: 2px;
}

.wrapper {
    width: 100%;
    height: auto;
}

.wrapper .navbar {
    background-color: var(--dark-2);
    padding: 25px 0px;
    border-bottom: 2px solid var(--dark-3);
}

.navbar-brand {
    font-weight: 800;
    font-size: 32px !important;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-nav {
    gap: 20px;
}

.navbar-nav .dropdown-menu {
    border: 0;
    padding: 20px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.158);
    background-color: var(--dark-2);
    border: 1px solid var(--dark-3);
    margin-top: 20px;
}

.dropdown-item {
    color: var(--secondary) !important;
    border-bottom: 1px solid var(--dark-3) !important;
}

.dropdown-item:hover {
    background-color: var(--dark-1) !important;
    color: var(--light) !important;
}

.wrapper .content {
    width: 100%;
    height: auto;
    padding: 20px 0px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
    border: 1px solid var(--dark-3);
    background-color: var(--dark-2);
}

footer {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 30px 0px 20px 0px;
    background-color: var(--dark-2);
    border-top: 2px solid var(--dark-3);
}

.form-login {
    width: 100%;
    height: auto;
    background-color: var(--dark-3) !important;
    padding: 40px 20px;
    border-radius: 5px;
    margin: 100px auto 0px auto;
    border: 1px solid var(--dark-4);
}

.form-login .form-control {
    background-color: var(--dark-4) !important;
    border-color: var(--dark-5) !important;
    padding: 20px 15px !important;
}